
/* resposive styles for mobile deveice */

@media screen and (max-width:425px){
    .nav-container{
        width: 100%;
        flex-direction: column;
         margin: 2rem auto;
    }
    .logo-container {
        width: 100%;
        justify-content: center;
        margin: 1rem auto;
    }
    .menus-container{
        flex-direction: column;
        width: 100%;
        
    }
    .menus-container a{
        margin: 1rem;
    }
    .banner-container {
        flex-direction: column;
    }
    .banner-container  :nth-child(1){order: 2;}
    .banner-container  :nth-child(2){order: 1;}
    .banner-img{
        width: 100%;
    }
    .design-banner-container{
        flex-direction: column;
        width: 100%;
    }
    .design-banner-text{

        width: 100%;
    }
    .design-banner-text h3{
        width: 80%;
        margin-left: 6rem;
        font-size: 1.2rem;
        text-align: center;
        line-height: 2rem;
    }
    .design-banner-text p{
        width: 100%;
        text-align: center;
        font-size: 0.9rem;
        
    }
    .design-banner-img{
        width: 70%;
        margin: 0 auto;
    }
    #woman-img{
        width: 5rem;
        height: 6rem;
    }
    .game-genres-container{
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        gap: 0.3rem;
    }
    .game-genres-box{
     border-radius: 2rem;
     width: 100%;

    }
    .game-genres-box img{

        padding: 0.2rem;
    }
    .game-genres-box p{
        font-size: 0.7rem;
    }
    .footer-section{
        width: 100%;
        margin: 0 auto;
    }
    .footer-container{
        width: 90%;
        
    }
    .logo-redesign{
        margin: 2rem auto;
        width: 100%;
        
    }
    .tittle-footer {
        flex-wrap: wrap;
    }
    .icon-footer {
        flex-wrap: wrap;
    }
    .terms-condition {
        flex-wrap: wrap;
    }
    .copy-right{
        padding-bottom: 3rem;
        text-align: center;
    }
    .funny-games-videos-container{
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
    }
}

/* Responsive styles for Tablet */
@media screen and (min-width:425px) and (max-width:800px){
    .nav-container{
        width: 100%;
        margin: 2rem auto;
    }
    .btn {
        width: 8rem;
      }
      .design-banner-text h3{
        width: 80%;
        margin-left: 6rem;
        font-size: 1.2rem;
        text-align: center;
        line-height: 2rem;
    }
    .design-banner-text p{
        width: 100%;
        text-align: center;
        font-size: 0.9rem;
        
    }
    .game-genres-container{
        width: 100%;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 0.6rem;
    }
    
}