@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Work Sans", sans-serif;
}
/* <!-- navigation section styles starts hare --> */

.nav-container {
  max-width: 80%;
  min-height: 5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.logo-container {
  width: 50%;
  display: flex;
  /* align-items: center; */
  object-fit: cover;
}
.logo-container p {
  font-family: Work Sans;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 1.25rem;
}
.menus-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menus-container a {
  color: #3c354f;
  font-family: Work Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.btn {
  width: 12rem;
  height: 2rem;
  flex-shrink: 0;

  /* padding: 0.7rem; */
  border-radius: 0.5rem;
  background: rgba(11, 2, 35, 0.1);
  display: flex;
  /* gap: 0.3rem; */
  justify-content: space-around;
  align-items: center;
  border: none;
}

/* <!-- navigation section styles ends hare --> */

/* banner styles starts here */

.banner {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.banner-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.banner-text {
  width: 50%;
}
.banner-text p {
    color: #0b0223;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    
  }
.banner-text h2 {
  font-family: Work Sans;
  font-size: 5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}


.banner-text-point p {
  color: #534c64;
  font-family: Work Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
  margin-bottom: 0.5rem;
}
.btn-banner {
   
  border-radius: 3rem;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  display: inline-flex;
  padding: 1rem 3rem;
  align-items: flex-start;
  border: none;
  margin-top: 1.5rem;
}
 
.button {
  background: #4ec5f7;
  margin-left: 1.5rem;
}
.banner-img {
  width: 50%;
}
.banner-img img {
  width: 100%;
  padding-top: 1.5rem;
}
.banner-text {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.banner-text p {
  font-size: 1.5rem;
}
.banner-text h2 {
  font-size: 2.5rem;
}
.banner-text-point p {
  font-size: 0.75rem;
}
.btn-banner {
  padding: 0.7rem 0.3rem;
}

/* banner styles end here */

/* position based banner styles starts here */

.design-banner-container{
   
    
    max-width: 80%;
    margin: 4rem auto;
    display: flex;
   align-items: center;

}
.design-banner-text{
   
    width: 50%;
    margin-right: 8rem;
    

}
.design-banner-text h3{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.75rem;
    text-align: end;
    margin-bottom: 1rem;
}
.design-banner-text p{
    width: 80%;
    margin-left: 20%;
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 1.125rem;
font-style: normal;
font-weight: 200;
line-height: 1.875rem; /* 166.667% */
}
.design-banner-img{
    
    width: 50%;
    position: relative;
    

}
.design-banner-img img{
    width: 100%;
    
    
}
#woman-img{
    
    width: 10rem;
    height: 12rem;
    position: absolute;
    bottom:-10%;
    left:-13%;
    
}

/* position based banner styles ends here */
