@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Work Sans", sans-serif;
}
/* <!-- navigation section styles starts hare --> */

.nav-container {
  max-width: 80%;
  min-height: 5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.logo-container {
  width: 50%;
  display: flex;
  /* align-items: center; */
  object-fit: cover;
}
.logo-container p {
  font-family: Work Sans;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 1.25rem;
}
.menus-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menus-container a {
  color: #3c354f;
  font-family: Work Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.btn {
  width: 12rem;
  height: 2rem;
  flex-shrink: 0;

  /* padding: 0.7rem; */
  border-radius: 0.5rem;
  background: rgba(11, 2, 35, 0.1);
  display: flex;
  /* gap: 0.3rem; */
  justify-content: space-around;
  align-items: center;
  border: none;
}

/* <!-- navigation section styles ends hare --> */

/* banner styles starts here */

.banner {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.banner-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.banner-text {
  width: 50%;
}
.banner-text p {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.banner-text h2 {
  font-family: Work Sans;
  font-size: 5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}

.banner-text-point p {
  color: #534c64;
  font-family: Work Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
  margin-bottom: 0.5rem;
}
.btn-banner button {
  padding: 1rem 2rem;
  border-radius: 3rem;
  background-color: #ff42a5;
  border: none;
  margin-top: 1.5rem;
}

.banner-img {
  width: 50%;
}
.banner-img img {
  width: 100%;
  padding-top: 1.5rem;
}
.banner-text {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.banner-text p {
  font-size: 1.5rem;
}
.banner-text h2 {
  font-size: 2.5rem;
}
.banner-text-point p {
  font-size: 0.75rem;
}
.btn-banner {
  padding: 0.7rem 0.3rem;
}

/* banner styles end here */

/* online games funny videos section  styles starts here */

.funny-videos-section{
  max-width: 80%;
  margin: 5rem auto 0;
}


.funny-videos-tittle{
  color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 1rem;
}
.pink-text-color{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.funny-videos-peragraph{
  color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.875rem; /* 166.667% */
margin-bottom: 2rem;
}
.funny-games-videos-container{
  
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap: 1.8rem;
}
.caption-text{
  color: #534C64;
  margin-top: 1rem;
  text-align: start;
font-family: Work Sans;
font-size: 1rem;
font-style: normal;
font-weight: 500;
}
.funny-videos-img{
  position: relative;
}
.funny-videos-img img{
  width: 100%;
  display: block;
}
.img-overlay{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
	height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color:white;
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  opacity: 0;
	transition: opacity 0.25s;
}
.img-overlay:hover{
  border: 2px solid salmon;
  border-radius: 1rem;
  opacity: 1;
}


/* online games funny videos section  styles endss here */


/* position based banner styles starts here */

.design-banner-container {
  max-width: 80%;
  margin: 4rem auto;
  display: flex;
  align-items: center;
}
.design-banner-text {
  width: 50%;
  margin-right: 8rem;
}
.design-banner-text h3 {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem;
  text-align: end;
  margin-bottom: 1rem;
}
.design-banner-text p {
  width: 80%;
  margin-left: 20%;
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 200;
  line-height: 1.875rem; /* 166.667% */
}
.design-banner-img {
  width: 50%;
  position: relative;
}
.design-banner-img img {
  width: 100%;
}
#woman-img {
  width: 10rem;
  height: 12rem;
  position: absolute;
  bottom: -10%;
  left: -13%;
}

/* position based banner styles ends here */

/* different type of  game genres section styles starts here */

.game-box-section {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  max-height: 24rem;
  margin-top: 7rem;
}

.game-genres-container {
  max-width: 80%;
  min-height: 24rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  justify-content: center;
  align-content: center;
  padding: 1rem;
}
.game-genres-box {
  display: flex;

  align-items: center;
  background-color: #ffffff;
  border-radius: 3.125rem;
  /* border: none; */
}
.game-genres-box:hover {
  cursor: pointer;
  border: 1px solid #ff42a5;
  border-radius: 3.125rem;
}
.game-genres-box img {
  padding: 1rem;
}
.game-genres-box p {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* different type of  game genres section  styles ends here */

/* footer section styles starts here */
.footer-section {
  background-color: #0b0223;
  color: #ffffff;
}
.footer-container {
  max-width: 80%;
  min-height: 35rem;
  margin: 0 auto;
  padding-top: 2rem;
}
.logo-redesign {
  width: 16rem;
  margin: 4rem auto;
}
.tittle-footer {
  display: flex;
  justify-content: center;
  gap: 3rem;
  color: #fff;
  font-family: Work Sans;
  font-size: 1rem;
  font-style: normal;
  margin-bottom: 4rem;
}
.icon-footer {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 4rem;
}
.terms-condition {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 3rem;
  color: rgba(255, 255, 255, 0.6);

  font-family: Work Sans;
  font-family: Work Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.copy-right {
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);

  font-family: Work Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* footer section styles ends here */
